{$KC_HOSTNAME} {
	reverse_proxy localhost:{$KC_HTTP_PORT}
}

{$LINKWARDEN_HOSTNAME} {
	reverse_proxy localhost:{$LINKWARDEN_PORT}
}

{$NEXTCLOUD_HOSTNAME} {
	header Strict-Transport-Security max-age=31536000;
	reverse_proxy localhost:{$NEXTCLOUD_PORT}
}

{$VAULTWARDEN_HOSTNAME} {
	reverse_proxy localhost:{$VAULTWARDEN_PORT}
}

{$OPENBAO_HOSTNAME} {
	reverse_proxy localhost:{$OPENBAO_PORT}
}

{$IMMICH_HOSTNAME} {
	reverse_proxy localhost:{$IMMICH_PORT}
}

{$OFFLINE_NOTION_HOSTNAME} {
	reverse_proxy localhost:{$OFFLINE_NOTION_PORT}
}

{$OFFLINE_NOTION_V1_HOSTNAME} {
	reverse_proxy localhost:{$OFFLINE_NOTION_PORT}
}