services:
  vaultwarden:
    profiles: ["vaultwarden"]
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      - SIGNUPS_ALLOWED=false
    ports:
      - "${VAULTWARDEN_PORT:?VAULTWARDEN_PORT is not set}:80"
    volumes:
      - ${VOLUME_BASE_DIR:?VOLUME_BASE_DIR is not set}/vaultwarden/data:/data
